@tailwind base;
@tailwind components;
@tailwind utilities;

/* Initial state, no circle */
.hover-circle::after {
  content: '';
  display: block;
  width: 0; 
  height: 0;
  background-color: #354f52; 
  border-radius: 50%;
  position: absolute;
  top: 10%; 
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0; 
}

/* Show the circle on hover */
.hover-circle:hover::after {
  width: 20px; 
  height: 20px; 
  opacity: 1; 
}
